body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}


.square {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	box-sizing: border-box;
	transition: background-color 0.2s;
}

.options {
	display: flex;
	position: relative;
	bottom: 20px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
}

